@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  color: #00252e;
}

section.hero {
  min-height: 100vh;
  background: url("../images/bg-hero-mobile.svg");
  background-color: #ebfbff;
  margin-bottom: 60px;
}

section.hero .hero__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 0 15px;
}

section.hero .hero__nav img {
  width: 100px;
  height: auto;
}

section.hero .hero__nav a.hero__nav-cta {
  font-size: 0.75rem;
  text-decoration: none;
  color: #00252e;
  background: #fff;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: 700;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

section.hero .hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 35px;
}

section.hero .hero__content h1 {
  font-family: "Poppins", sans-serif;
  margin: 80px 0 25px 0;
  text-align: center;
}

section.hero .hero__content h3 {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
}

section.hero .hero__content a.hero__content-cta {
  font-size: 0.75rem;
  text-decoration: none;
  background: #ff52bf;
  color: #fff;
  padding: 12px 60px;
  border-radius: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

section.hero .hero__content img {
  width: 100%;
  margin-bottom: 40px;
}

section.cards {
  margin: 0 20px;
}

section.cards .grow, section.cards .flowing, section.cards .users {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-radius: 15px;
  padding: 40px;
  margin-bottom: 35px;
}

section.cards .grow img, section.cards .flowing img, section.cards .users img {
  width: 100%;
  margin-bottom: 30px;
}

section.cards .grow h3, section.cards .flowing h3, section.cards .users h3 {
  text-align: center;
  margin: 20px;
}

section.cards .grow p, section.cards .flowing p, section.cards .users p {
  text-align: center;
  font-size: 1rem;
  color: #808d99;
}

section.cards .users {
  margin-bottom: 200px;
}

section.footer {
  background-color: #00252e;
  color: #fff;
  padding: 150px 20px 50px 20px;
}

section.footer svg.huddle-logo {
  margin-bottom: 15px;
}

section.footer svg.huddle-logo path {
  fill: #fff;
}

section.footer .location, section.footer .phone, section.footer .email {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

section.footer .location svg, section.footer .phone svg, section.footer .email svg {
  margin-right: 15px;
}

section.footer .location p a, section.footer .phone p a, section.footer .email p a {
  text-decoration: none;
  color: #fff;
}

section.footer ul {
  list-style: none;
  margin-top: 50px;
}

section.footer ul li {
  margin-bottom: 20px;
}

section.footer ul li a {
  text-decoration: none;
  color: #fff;
}

section.footer .social-svgs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 65px;
}

section.footer .social-svgs .fb-svg-circle, section.footer .social-svgs .twitter-svg-circle, section.footer .social-svgs .insta-svg-circle {
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
}

section.footer .social-svgs .fb-svg-circle .icon, section.footer .social-svgs .twitter-svg-circle .icon, section.footer .social-svgs .insta-svg-circle .icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}

section.footer .social-svgs .fb-svg-circle .icon-facebook, section.footer .social-svgs .fb-svg-circle .icon-twitter, section.footer .social-svgs .fb-svg-circle .icon-instagram, section.footer .social-svgs .twitter-svg-circle .icon-facebook, section.footer .social-svgs .twitter-svg-circle .icon-twitter, section.footer .social-svgs .twitter-svg-circle .icon-instagram, section.footer .social-svgs .insta-svg-circle .icon-facebook, section.footer .social-svgs .insta-svg-circle .icon-twitter, section.footer .social-svgs .insta-svg-circle .icon-instagram {
  font-size: 18px;
}

section.footer p.copyright {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 25px 0 0 0;
  font-weight: 700;
}
