@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// Colors

// Primary
$pink: hsl(322, 100%, 66%);

// Neutral
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// Headings
$font-open-sans: 'Open Sans', sans-serif;
// Body and call-to-actions
$font-poppins: 'Poppins', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: $font-open-sans;
    color: $very-dark-cyan;
}

// Hero section
section.hero {
    min-height: 100vh;
    background: url("../images/bg-hero-mobile.svg");
    background-color: $very-pale-cyan;
    margin-bottom: 60px;
    
    .hero__nav {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 15px 0 15px;
        
        img {
            width: 100px;
            height: auto;
        }

        a.hero__nav-cta {
            font-size: 0.75rem;
            text-decoration: none;
            color: $very-dark-cyan;
            background: #fff;
            border-radius: 20px;
            padding: 5px 25px;
            font-weight: 700;
            box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        }

        a.hero__nav-cta:hover {
            opacity: 0.75;
        }
    }

    .hero__content {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 35px;

        .hero__content-text {
            text-align: center;

            h1 {
                font-family: $font-poppins;
                margin: 80px 0 25px 0;
            }
    
            h3 {
                font-weight: normal;
                font-size: 1rem;
                margin-bottom: 30px;
            }
    
            a.hero__content-cta {
                font-size: 0.75rem;
                text-decoration: none;
                background: $pink;
                color: #fff;
                padding: 12px 60px;
                border-radius: 20px;
                font-weight: 700;
            }

            a.hero__content-cta:hover {
                opacity: 0.75;
            }
        }
        
        .hero__content-img {

            img {
                width: 100%;
                margin: 50px 0 40px 0;
            }
        }
    }
}

// Cards section
section.cards {
    margin: 0 25px;

    .grow, .flowing, .users {
        max-width: 1300px;
        margin: 0 auto;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        border-radius: 15px;
        padding: 40px;
        margin-bottom: 35px;

        &__img {

            img {
                width: 100%;
                margin-bottom: 30px;
            }
        }


        &__text {
            text-align: center;

            h3 {
                margin: 20px;
            }
    
            p {
                font-size: 1rem;
                color: $grayish-blue;
            }
        }

    }

    .users {
        margin-bottom: 50px;
    }
}

// Community section
section.community {
    position: relative;
    top: 60px;
    background-color: #fff;
    margin: 0 20px 0 20px;
    border-radius: 15px;
    padding: 40px 0px 50px 0px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    
    .community-content {
        text-align: center;

        h4 {
            font-family: $font-poppins;
            margin-bottom: 30px;
        }
    
        a.community-cta {
            font-size: 0.75rem;
            text-decoration: none;
            background: $pink;
            color: #fff;
            padding: 12px 45px;
            border-radius: 20px;
            font-weight: 700;
            margin-bottom: 50px;
            box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        }

        a.community-cta:hover {
            opacity: 0.75;
        }
    }

}

// Footer section
section.footer {
    background-color: $very-dark-cyan;
    color: #fff;
    padding: 150px 20px 50px 20px;

    .footer-container {
        max-width: 1300px;
        margin: 0 auto;

        .logo-text {
    
            svg.huddle-logo {
                margin-bottom: 15px;
                
                    path {
                        fill: #fff;
                    }
            }
        
            .location, .phone, .email {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
        
                svg {
                    margin-right: 15px;
                }
        
                p {
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    
    
        ul {
            list-style: none;
            margin-top: 50px;
    
            li {
                margin-bottom: 20px;
    
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    
        .social-svgs {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 65px;
    
            .fb-svg-circle, .twitter-svg-circle, .insta-svg-circle {
                display: inline-flex;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 8px;
                
                .icon {
                    width: 1em;
                    height: 1em;
                    stroke-width: 0;
                    stroke: #fff;
                    fill: #fff;
                }
            
                .icon-facebook, .icon-twitter, .icon-instagram {
                    font-size: 18px;
                }
            }

            .fb-svg-circle:hover, .twitter-svg-circle:hover, .insta-svg-circle:hover {
                border: 1px solid $pink;

                .icon {
                    stroke: $pink;
                    fill: $pink;
                }
            }
    
            p.copyright-desk {
                display: none;
            }
        }
    
        p.copyright-mobile {
            font-size: 12px;
            font-family: $font-open-sans;
            text-align: center;
            margin: 25px 0 0 0;
            font-weight: 700;
        }
    }
    
}

// Media queries
@media (min-width: 769px) {

    // Hero section
    section.hero {
        min-height: 70vh;
        background: url("../images/bg-hero-desktop.svg");
        background-color: $very-pale-cyan;
        margin-bottom: 60px;
    
        .hero__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 15px 0 15px;
            
            img {
                width: 100px;
                height: auto;
            }
    
            a.hero__nav-cta {
                font-size: 0.75rem;
                text-decoration: none;
                color: $very-dark-cyan;
                background: #fff;
                border-radius: 20px;
                padding: 5px 25px;
                font-weight: 700;
                box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
            }
        }
    
        .hero__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 50px;
            padding: 0 35px;
    
            .hero__content-text {
                text-align: left;
    
                h1 {
                    font-family: $font-poppins;
                    margin: 80px 0 25px 0;
                }
        
                h3 {
                    font-weight: normal;
                    font-size: 1rem;
                    margin-bottom: 30px;
                }
        
                a.hero__content-cta {
                    font-size: 0.75rem;
                    text-decoration: none;
                    background: $pink;
                    color: #fff;
                    padding: 12px 60px;
                    border-radius: 20px;
                    font-weight: 700;
                }
            }
            
            .hero__content-img {
    
                img {
                    width: 100%;
                    margin: 50px 0 40px 0;
                }
            }
        }
    }

    // Cards section
    section.cards {
        margin: 0 20px;
        
        .grow, .flowing, .users {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 50px;
            box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
            border-radius: 15px;
            padding: 40px;
            margin-bottom: 35px;

            &__img {

                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            &__text {
                text-align: left;

                h3 {
                    margin: 20px 0 20px 0;
                }
        
                p {
                    font-size: 1rem;
                    color: $grayish-blue;
                }
            }
        }

        .flowing {
            flex-direction: row;
        }

        .users {
            margin-bottom: 50px;
        }
    }

    // Community section
    section.community {
        position: relative;
        top: 60px;
        background-color: #fff;
        margin: 0 20% 0 20%;
        border-radius: 15px;
        padding: 40px 0px 50px 0px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        
        .community-content {
            text-align: center;

            h4 {
                font-family: $font-poppins;
                margin-bottom: 30px;
            }
        
            a.community-cta {
                font-size: 0.75rem;
                text-decoration: none;
                background: $pink;
                color: #fff;
                padding: 12px 45px;
                border-radius: 20px;
                font-weight: 700;
                margin-bottom: 50px;
                box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
            }
        }

    }


    // Footer section
    section.footer {
        gap: 40px;
        background-color: $very-dark-cyan;
        color: #fff;
        padding: 150px 20px 50px 20px;
        
        .footer-container {
            display: flex;
            max-width: 1300px;
            margin: 0 auto;

            .logo-text {
    
                svg.huddle-logo {
                    margin-bottom: 15px;
                    
                        path {
                            fill: #fff;
                        }
                }
            
                .location, .phone, .email {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
            
                    svg {
                        margin-right: 15px;
                    }
            
                    p {
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
    
    
            ul {
                display: flex;
                gap: 40px;
                list-style: none;
                margin-top: 60px;
    
                li {
                    margin-bottom: 5px;
    
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
    
            .social-svgs {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 0px;
                margin-top: 60px;
    
                .fb-svg-circle, .twitter-svg-circle, .insta-svg-circle {
                    align-self: flex-start;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    padding: 8px;
                    
                    .icon {
                        width: 1em;
                        height: 1em;
                        stroke-width: 0;
                        stroke: #fff;
                        fill: #fff;
                    }
                
                    .icon-facebook, .icon-twitter, .icon-instagram {
                        font-size: 18px;
                    }
                }
    
                p.copyright-desk {
                    display: block;
                    font-size: 12px;
                    font-family: $font-open-sans;
                    text-align: left;
                    margin: 100px 0 0 0;
                    font-weight: 700;
                }
            }
    
            p.copyright-mobile {
                display: none;
            }
        }

    }
}

@media (min-width: 1024px) {

    // Hero section
    section.hero {
        min-height: 80vh;
    
        .hero__nav {
    
            a.hero__nav-cta {
                font-size: 0.75rem;
            }
        }
    
        .hero__content {
    
            .hero__content-text {
    
                h1 {
                    font-size: 2.375rem;
                }
        
                h3 {
                    font-size: 1rem;
                }
            }

        }
    }

    // Cards section
    section.cards {
        
        .grow, .flowing, .users {
            padding: 40px 40px 40px 100px;
            margin-bottom: 35px;

            &__text {

                h3 {
                    font-size: 1.75rem;
                    margin: 20px 0 20px 0;
                }
        
                p {
                    font-size: 1rem;
                    color: $grayish-blue;
                }
            }
        }

        .users {
            margin-bottom: 50px;
        }
    }

    // Community section
    section.community {
        
        .community-content {

            h4 {
                font-size: 1.5rem;
            }
        }

    }
}


